<!doctype html>
<html lang="en">

<!---tells the browser about the type of the document.-->
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!---^^link to bootstrap stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main_style.css') }}">

      <title>ACTALAB Datasite</title>
  </head>

  <body>
    {% include 'navbar.html' %}

    <div class="description_class">
      <h2 id="description">Select the required materials to view our recorded properties.</h2>
    </div>
    <!----------------------------------------------------------------------------------------------------->     
    <!--To use bootstrap grid, add create a container, add row, add col
      label classes with container / row / col-->
    <div class = "home_body_div container">
        <div class ="row">
          <p id="Materials"> MATERIALS</p>
        </div>

        <!--searching option to filter the table display-->
        <div class = "row">
          <div class="input-group mb-3">
          <input id='myInput' onkeyup='searchTable()' type='text' class="form-control" placeholder="Search" aria-label="Username" width="50%" >
          </div>
        </div>
        <!-------------------------------------------------->

        <div class="row">
          
            <div class="data_list_class" style="width: 100%;">
                <table class = "table table-active table-bordered table-hover-responsive-xl style="border-width:2px; " " width="100%" id="myTable" >
                <thead class="thead-dark">
                    <tr id='tableHeader'>
                    <th scope="col" onclick="sortTable(0)" class="h5"> Material <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    <th scope="col" onclick="sortTable(1)" class="h5">  Source of Data  <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    <th scope="col" onclick="sortTable(2)" class="h5">  Date Added  <button id="sort_arrows" style=" border:none; float: right;"> <span> &#8645;</span> </button> </th>
                    </tr>
                </thead>
                <tbody>
                <!---Table goes here-->
                </tbody>
                </table>
            </div>
        </div>
    </div>

    <!----------------------------------------------------------------------------------------------------->
    <script type="text/javascript">
      let materials_listOfDicts = {{materials_listOfDicts|safe}};
      let materials_data_linkam = {{materials_data_linkam|safe}};
      
      function searchTable() 
        {
          var input, filter, found, table, tr, td, i, j;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) 
            {
              td = tr[i].getElementsByTagName("td");
              for (j = 0; j < td.length; j++) 
                {
                  if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) 
                    {found = true;}
                } 
              if (found) 
                {
                  tr[i].style.display = "";
                  found = false;
                } 
              else if (tr[i].id != 'tableHeader')
                {tr[i].style.display = "none";}
            }
        }
    </script>

    <!---to sort by ascending/descending order fo each col header-->
    <script>
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount ++;
          } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
      </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/list_materials.js') }}"></script>
    <!--add to ensure bootstrap works--->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <!---------------------------------->


  </body>
</html>